@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-brand: "Archivo Black", sans-serif;
}

@variant dark (&:where(.dark, .dark *));

button{
    cursor: pointer;
}
h1, h2, h3, .brand-font {
  @apply font-brand uppercase;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-stone-100 dark:bg-[#0a0a0a];
}

::-webkit-scrollbar-thumb {
  @apply bg-stone-400 dark:bg-stone-600 rounded-full;
}