@import "tailwindcss";
body { font-family: 'Inter', sans-serif; background-color: #ffffff; color: #000000; }
.dark body { background-color: #0a0a0a; color: #f5f5f4; }
h1, h2, h3, .brand-font { font-family: 'Archivo Black', sans-serif; text-transform: uppercase; }
.smooth-scroll { scroll-behavior: smooth; }
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #f5f5f5; }
.dark ::-webkit-scrollbar-track { background: #0a0a0a; }
::-webkit-scrollbar-thumb { background: #000000; border-radius: 10px; }
.dark ::-webkit-scrollbar-thumb { background: #fbbf24; }